.aboutSect{
    min-height: 90vh;
    width: 90%;
    justify-content: center;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
}
.about_img{
    width:30rem;
    margin:3em;
}
.fockerSect{
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;

    width: 90%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1rem;
}
.fockerSect p{
    color: #5e5e5e;
    font-weight: 500;
    font-size: 1.2rem;
}
.fockers{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.focker_1, .focker_2{
    min-width:40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    position: relative;
    box-shadow: 0.1px 0.1px 1.8px darkgrey;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    border-inline-start: 5px solid #398942;
    transition: all .3s;
}

.focker_1:hover .top-left, .focker_2:hover .top-left, .focker_1:active .top-left, .focker_2:active .top-left{
    transform: translate(-18.5%, -19%);
}
.focker_1:hover .bottom-right, .focker_2:hover .bottom-right, .focker_1:active .bottom-right, .focker_2:active .bottom-right{
    transform: translate(13px, 13px)
}
.inner{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #787878;
    font-weight: 600;
}
.abouthalf{
    min-width: 10rem;
    max-width: 35rem;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: 3em;
}
.fockerimg{
    width: 10rem;
    height:9.5rem;
    border-radius: 50%;
}
.h3a{
    font-size: 1.3rem;
    color: #1f7c49;
    border-radius: 3px;
    font-weight: 600;
    padding: .4rem 1rem;
    text-align: end;
    text-transform: uppercase;
}
.spry_h1{
    color: #1f7c49;
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.tc{
    text-align: center;
}
.mc{
    margin: 1.5rem;
}
.tc li{
    list-style: none;
}
.ts{
    text-align: start;
}
.te{
    text-align:end;
}
.mg2{
    width:10rem;
    margin:1rem;
}
.m1{
 margin: 1rem;
}
.mg2 ul{
    font-size: 1.2rem;
}
.vrn{
 display: initial;
}



.image-box{
    height: 9.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-size: 105%;
    background-position: center;
    transition: all .3s;
}
.image-box:hover, .image-box:active{
    background-size: 115%;
}

.focker-1{
    background-image: linear-gradient(40deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(./assets/focker_1.jpg);
}
.focker-1:hover, .focker-1:active{
    background-image: linear-gradient(40deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url(./assets/focker_1.jpg);
}
.focker-2{
    background-image: linear-gradient(40deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(./assets/focker_2.jpg);
    animation-delay: .5s;
}
.focker-2:hover, .focker-2:active{
    background-image: linear-gradient(40deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url(./assets/focker_2.jpg);
}

.icon{
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    
    width: -moz-fill-available;
    width: -webkit-fill-available;
    width: fill-available;

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    opacity: 0;
    transition: all .3s;
}
.icon-container:hover, .icon-container:active{
    border: 1.5px solid rgba(255, 255, 255, 0.8);
}
.icon-container:hover a, .icon-container:active a{
    color: rgba(255, 255, 255, 0.8);
}
.image-box:hover .icon, .image-box:active .icon{
    opacity: 1;
}
.icon-container a{
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.icon-container{
    border-radius: 9px;
    padding:0.3rem;
    margin: 0.2rem;
    border: 1.5px solid transparent;
    transition: all .3s;
}
#med-icon{
    height: 2.2em;
    width:2.2em;
}
#big-icon{
    height: 6em;
    width:6em;
}
.fit-height{
    min-height: fit-content;
}
.border{
    min-width:40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all .3s;
}
.top-left{
    height: 80%;
    width: 80%;
    position: absolute;
    z-index: -5;
    border: .4rem solid #1dd18d;
    transition: all .5s;
}
.bottom-right{
    height: 100%;
    width: 100%;
    border: .4rem solid #1ead2e;
    position: absolute;
    z-index: -5;
    transition: all .3s;
}