.bw{
    padding-bottom: 2rem;
}

/* QUERIES FOR ALL PAGES */

@media (max-width:1190px) {
    .mainPart {width: 70% !important;}
}
@media (max-width:1170px) {
    .abouthalf {width: 80% !important;}
}
@media (max-width:1024px) {
    .mainPart {width: 75% !important;}
}
@media (max-width:890px) {
    *{text-align: left;}
    .card h3 {
        padding: 0 !important;
    }
    .fockers {width: 100% !important;}
    .login {width: 100% !important;}
    .regTxt{margin: 0% !important;}
    .card h3{width:fit-content}
    .list{display: none !important;}
    .toggler {display: flex !important;}
    .scroll {
        height: auto !important; 
        overflow-y: unset !important; 
        width: 100% !important; 
        margin: 0rem !important;
    }
    .rplCont {
        width: 90% !important;
    }
    .shrbx {
        width: 100% !important;
    }

    .toggle{display:flex !important}
    .listHolder {min-width: 50% !important;}
    .mainPart {width: 100% !important;}
    .abouthalf {margin: 2em !important;}
    .halfsect {margin: 2em !important;}
    .rplCont{margin: auto !important;}
    .giant-icon {
        height: 7rem !important;
        width: 7rem !important;
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .form{
        background-color: rgba(233, 233, 233, 0) !important;
        box-shadow: 0px 0px 0px !important;
        border-left: 2px solid #1f7c49 !important;
    }
    .cnt {
        width: 95% !important;
    }
    .conten {
        width: 90% !important;
    }
    .flat{
        background-color: #1f7c49 !important;
    }
    .navbar {
        background-color: #f7f7f7 !important;
        color: #1f7c49 !important;
        box-shadow: 0.1px 0.1px 3px grey !important;
    }
    .title {
        color: #1f7c49 !important;
    }

    .footContent {width: 100% !important;}
    .no-list{width: 60% !important;}
    .ml {width: 60% !important;}
    .mid, .mid1{font-weight: 300 !important;}
    .inputContainer {width: 100% !important;}

}
@media (max-width:580px) {
    .auto-bottom{
        width: 16rem !important;
        margin: 1rem !important;
        height: 20rem !important;
    }
    .load {width: 70% !important;}
    .focker_1, .focker_2 {width: 100% !important;}
    .listHolder {min-width: 65% !important;}
    .bod {width: 90% !important; min-height: fit-content !important; display: inherit !important;}
    .halfsect{width: 100% !important; margin: 0rem !important;}
    .abouthalf{width: 100% !important; margin: 0rem !important;}
    .m1{margin: 1.5rem !important;}

    .navContent{width:85vw !important;}
    .toggle{padding-inline-start: 0rem !important; padding-inline-end: 0rem !important;}
    .vrn{display: none !important;}
    .spry_h1 {font-size: 2rem !important;  }
    .h1, .h1-alt {font-size: 2.5rem !important; padding: 0 !important;  font-weight: 500 !important; margin: 1rem 0rem !important}
    .h3r{display: none !important;}
    .regTxt p{font-size: 1.5rem !important;}
    .log-in{width: -webkit-fill-available !important; }
    .login{min-height: 73vh !important; }

    .group{flex-direction: column !important;}
    .mainSect {width: 100% !important;}
    .aboutSect {width: 100% !important;}    
}

@media (max-width:450px) {
    *{font-size: 14px;}
    .inner{flex-wrap: wrap-reverse !important; margin-top: 1rem; margin-bottom: 1rem;}
    .mg2{margin:auto !important}
    .initCont {margin-top: 1em !important;}
    .shrbx {
        margin-right: auto !important;
        margin-left: 1.5rem !important;
    }
    .card h3{
        font-size: 1.3rem !important;
        margin: 1rem !important;
        margin-right: 2rem !important;
        margin-left: 2rem !important;
    }
    .initCont h2 {font-size: 1.5rem !important;}
    .about_img{width:85% !important;}
}
@media (max-width:400px) {
    .mainSect {width: 95% !important;}
    *{font-size: 12px;}
}
@media (max-width:370px) {
    .mainSect {width: 100% !important;}
}






