
.form{
    background-color: rgb(233 233 233 / 72%);
    
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;

    border-left: 4px solid #01df65;
    box-shadow: -0.1px 0.1px 0.3rem rgb(0 0 0);
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-inline-start: 1.5rem;    
    padding-inline-end:1.5rem;
}
.log-in{
    width: 25rem;
    margin: auto;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    height: 3.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.h3{
    font-size: 2rem;
    font-weight: 400;
    color: #0ac55e;
    text-transform: uppercase;
    margin-bottom: 0;
}
.input{
    text-align: left;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 1rem;   
    border-color: transparent;
    border-left:3.5px solid #01df65;
    transition: all .2s;
}
.valid-input {
    background-color: #e8f0fe;
}
.invalid-input {
    background-color: #fee8e8;
    border-left: 3.5px solid #e14f4f;
}
.input::placeholder{
    font-size: 1.1rem;
    margin-left: .5rem;
}
.input:placeholder-shown + .inputLabel{
    /* top: 2rem;
    left: 3rem; */
    opacity: 0;
}
.input:focus{
    outline: transparent;
}
.inputLabel{
    text-align: left;
    width: 100%;
    color: #01df65;
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 1;
    transition: all .3s;
}
.group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btns-box{
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btn, .btn:active{
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1rem;
    background-color: #49af54;
    color: white;
    border: 0px;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;   
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 5px;
    transition: all .3s;
}
.btn:hover {
    background-color: rgb(15, 104, 55);
}
.hollow, .hollow:active, .hollow:visited{
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    background-color: #49af5300;
    color: #49af54;
    border: 2px solid #49af54;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;   
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 0px;
    transition: all .2s;
    margin-right: 1rem;
    margin-top: 1rem;
}

.hollow:hover{
    border: 2px solid #3c8844;
    color: #2d5e32;
    transform: scale(1.03);
}

.btns, .btns:active, .btns:visited{
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    background-color: #49af53;
    color: white;
    border: 2px solid #49af54;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;   
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 0px;
    transition: all .2s;
    margin-right: 1rem;
    margin-top: 1rem;
}

.btns:hover{
    background-color: #295c2e;
    border: 2px solid #295c2e;
    transform: scale(1.03);
}

.ahref{
    color: #49af54;
    text-align: start;
    transition: all .2s;
}
.ahref:hover{
    color: #307337;
}
.red{
    background-color: #ff27001f;
    color: #ff0000ad;
    font-size: 1.2rem;
    font-weight: 500;
    border-left: 3px solid #ff0000ad;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2px;
}
.blue{
    background-color: #728aff38;
    color: #455295;
    font-size: 1.2rem;
    font-weight: 500;
    border-left: 3px solid #455295;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2px;
}
.green{
    color: #0ac55e;
    display: flex;
}
.sp{
    padding:1px
}
