.small-icon{
    height: 1rem;
    width: 1rem;
    margin-inline: .5rem;
}
.small_medium-icon{
    height: 1.5rem;
    width: 1.5rem;
    margin-inline: .5rem;
}
.medium-icon{
    height: 2rem;
    width: 2rem;
    margin-inline: .5rem;
}
.medium_big-icon{
    height: 2.5rem;
    width: 2.5rem;
    margin-inline: 1rem;
}
.big-icon{
    height: 3rem;
    width: 3rem;
    margin-inline: 1rem;
}
.center-icon{
    margin-inline : .2rem;
    margin-top : 0.2rem;
}