*{
  font-size: 13.2px;
  text-align: left;
  align-self: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'PT Mono', monospace; */

body {
    font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    0deg,
    white,
    #d8d8d83d
    );
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;

}
body::-webkit-scrollbar{
  width: 8px;
  border: 1px solid #d4d4d4;
  background: #d5d5d5;
}
body::-webkit-scrollbar-thumb {
  background-color: #1f7c49;
  border-radius: 100px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --prmryClr: #1f7c49;
  --prmryColor-sub:#1f7c49;
  --prmryTxtClrL:#5a5a5a;
  --prmryTxtClrD:white;
  --anim-objects:3.5px;

}

