
.mainSect{
    min-height: 70vh;
    width: 90%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
}
.mainSect-alt {
    min-height: 70vh;
    width: 95%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
}
.loadSect{
    min-height: 70vh;
    width: 80%;
    position: fixed;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1rem;
}
.l3{
    font-size: 4rem;
    font-weight: 400;
    color: #1f7c49;
    text-transform: uppercase;
    padding-top: 1rem;
}
.partB{
    background-color: var(--prmryClr);
    width: 35%;
    height: 100vh;
    align-self: initial;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.mainPart{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
}

.mainPart p{
    color: var(--prmryTxtClrL);
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 30rem;
    text-align: start;
    font-weight: 500;
}
.content{
    display: flex;
    height: fit-content;
    width: 100%;
    border-top: 0px;
}
.card{
    min-height: 100%;
    background-color: rgb(233 233 233 / 55%);
    border: 0.2px solid #5a5a5a30;
    border-left: .415rem solid var(--prmryColor-sub);
    border-radius: 5px;
    width: 100%;
    box-shadow: 0.1px 0.01px 5px #00000085;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: auto;
}
.initCont{
    display: flex;
    width: 90%;
    margin: auto;
}
.initCont h2{
    font-size: 2.5rem;
    color: var(--prmryColor-sub);
    text-transform: capitalize;
    font-weight: 500;
}
.edit-btn{
    margin-left: auto;
    font-size: 1.5rem;
    background-color: #78c3008a;
    color: #008b3f;
    padding: 0.5rem;
    padding-inline-start: 1.284rem;
    padding-inline-end: 1.284rem;
    border-radius: 500px;
    font-weight: 700;
    cursor: pointer;
}
.card h3{
    width: 100%;
    color: var(--prmryTxtClrL);
    align-self: start;
    text-align: start;
    font-weight: 500;
    word-break: break-word;

    /* padding: 2rem; */
    font-size: 1.5rem;
    margin: 1rem 0rem 1rem 3rem;
}
.img{
    width: 5rem;
    height: 5rem;
    border: 2px solid #1f7c49;
    background-color: var(--prmryTxtClrL);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.rplbx{
    margin-top: 0.5rem;
    display: flex;
}
.imgRpl{
    min-width: 3rem;
    height: 3rem;
    overflow: hidden;
    background-color: #d5d5d5;
    border: 2px solid #1f7c49;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: auto;
}
.rpl{
    margin-bottom: 1rem;
}
.rpl h2{
    text-align: start;
    color: var(--prmryClr);
}
.rplCont{
    width: 90%;
    margin-right: auto;
    margin-inline-start: 2rem;
    display: flex;
    justify-content: space-between
}
.rplCont:not(:last-child){
    border-bottom: 0.2px solid #5a5a5a2d;
}
.tmbx{
    margin-top: auto;
    margin-bottom: 1rem;
}
.tmbx h2{
    color: var(--prmryClr);
    font-weight: 400;
}
.shrbx{
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
    width: 80%;
    margin-right: auto;
    margin-left: 3rem;
}
.share, .share:active {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--prmryColor-sub);
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 0px;
    color: white;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 5px;
    transition: all .3s;
}
.share:hover, .share:active{
    background-color: rgb(15, 104, 55);
}


/*   ANIMATIONS   */


.container{
    display: flex;
    flex-direction: row;
}
.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}
.block{
    width: .5rem;
    height: 1rem;
    margin-right: .25rem;
}
.one{
    animation: strech 1s infinite ;
}
.two{
    animation: strech 1s infinite .2s;
}
.three{
    animation: strech 1s infinite .4s;
}
.four{
    animation: strech 1s infinite .6s;
}
.five{
    animation: strech 1s infinite .8s;
}

@keyframes strech {
    0%{
        transform: scaleY(1);
        background-color: green;

    }
    50%{
        transform: scaleY(1.5);
        background-color: rgb(49, 255, 59);
    }
    100%{
        transform: scaleY(1);
        background-color: green;
    }
}
/* DIALOG BOX */

.dialog{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;

    padding: 2rem;
    background-color: white;
    margin-inline: auto;
    box-shadow: 0.1px 0px 7px #b9b9b9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding-top: 0;
    z-index: 10;
}
.load{
    min-width: 25rem;
    padding: 1rem 6rem;
}
.background-dim{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #0000009e;
}
.cancel{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    
    padding-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: #6b6b6b;
    transform: rotate(45deg);
    margin-left: auto;
    cursor: pointer;
    transition: all .3s;
}
.cancel:hover, .cancel:active{
    color: #ff0000ad;
}
.whitespace{
    white-space: pre-wrap;
}

.scroll{
    height: 40vh;
    width:90%;
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar{
    width: 8px;
    border: 1px solid #d4d4d4;
    background: #d5d5d5;
  }
.scroll::-webkit-scrollbar-thumb {
background-color: #1f7c49;
border-radius: 100px;
padding-inline-start: 5px;
padding-inline-end: 5px;
}
.auto-bottom{
    margin-bottom: auto;
    margin-top: 8%;
}

.slide-left{transition: all .5s; opacity: 0;}
.slide-right{transition: all .5s; opacity: 0;}
.slide-up{transition: all .5s; opacity: 0;}
.fade-in{transition: all .5s; opacity: 0;}



@keyframes slide-left {
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide-right {
    0%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide-up {
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}